extends layout

block content
    h1 #{title}
    p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
        | Numquam atque at accusantium autem animi, odit praesentium enim voluptatem,
        | sed ullam pariatur. Non error libero nihil? Praesentium iure quidem dicta distinctio?
